@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: vazirBold;
  src: url(../public/vazirmatn-v33.003/fonts/webfonts/Vazirmatn-Bold.woff2);
}

@font-face {
  font-family: vazirLight;
  src: url(../public/vazirmatn-v33.003/fonts/webfonts/Vazirmatn-Light.woff2);
}

@font-face {
  font-family: vazirExtraLight;
  src: url(../public/vazirmatn-v33.003/fonts/webfonts/Vazirmatn-ExtraLight.woff2);
}

@font-face {
  font-family: vazirMeduim;
  src: url(../public/vazirmatn-v33.003/fonts/webfonts/Vazirmatn-Medium.woff2);
}

@font-face {
  font-family: vazirThin;
  src: url(../public/vazirmatn-v33.003/fonts/webfonts/Vazirmatn-Thin.woff2);
}